.learnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.learnText{
    background: linear-gradient(-45deg, #1E2761,#1E2761,#408EC6,#408EC6,#7A2048,#7A2048);
    background-size: 300%;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;
    margin-top: 50px;
}

@keyframes animated_text {
    0%{
        background-position: 0px 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0px 50%;
    }
}

.learnPrivacy{
    width: 29%;
    min-height: 155px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #7A2048;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.learnRules{
    width: 29%;
    min-height: 155px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #1E2761;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.learnCards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}
